<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Spam filter</title>
</head>
<body>
    <h1 class="texts">Spam filter</h1>
    <form method="post">
        <textarea type="text" name="text" id="text"></textarea><br>
        <input type="submit" value="Check">
    </form>
    <a class="texts" href="/delete">Delete all records</a>
    {% for el in comments %}
        <p class="texts">{{el.text}}</p><br>
    {% endfor %}
</body>
</html>